@import './variables.scss';

@mixin flex-column-center {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

* {
  font-size: 16px;
  box-sizing: border-box;
}

.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.container {
  background-color: $background-color;
  min-height: 100vh;
  display: flex;
  @include flex-column-center;
  color: $text-color;
  padding: 20px;
}

.page {
  height: 80vh;
  width: 100%;
  max-width: 800px;
  display: flex;
  @include flex-column-center;
  justify-content: space-between;
  border: 1px solid #444;
  padding: 20px;
}

.header {
  display: flex;
  margin-bottom: 4rem;
  @include flex-column-center;
  .profile-pic {
    width: 100px;
    height: 100px;
    clip-path: circle(50% at 50% 50%);
    margin-bottom: 1rem;
  }

  .profile-username {
    color: $text-color;
  }
}

.App-logo {
  svg {
    color: $text-color;
  }
}
