@import './variables.scss';

.list-container {
  width: 100%;
  flex-grow: 2;
}

.list-item {
  text-decoration: none;
  @include variable(text-color, color, white);
  .list {
    padding: 20px 0;
    color: inherit;
    @include variable(link-background-color, background-color, #39e09b);
    cursor: pointer;
    list-style: none;
    text-transform: capitalize;
    margin: 10px 0;
    border-radius: 5px;
  }
}

.expandable-list {
  padding-bottom: 0;
  background-color: #f5f7f8;
  border-radius: 5px;
}

.expanded-container {
  min-height: 100px;
  padding: 20px;
}

.music-player-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;

  .player-image {
    min-width: 25%;
    max-width: 25%;
    border-radius: 10px;
    margin-right: 20px;
  }

  .play-button-icon {
    width: 10%;
    margin-right: 20px;
    svg {
      @include variable(link-background-color, color, black);
    }
  }
  .title-description {
    font-size: 20px;
    margin: 0;
    overflow: hidden;
    height: 30px;
    width: 70%;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.music-link-item {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid;

  .platform-name {
    text-transform: capitalize;
    flex-grow: 2;
    text-align: left;
  }
  .social-icon {
    flex-grow: 1;
    margin-right: 20px;
    width: 40px;
    max-width: 40px;
  }
}

.right-arrow {
  transform: rotate(-90deg);
}
