@import './variables.scss';

.list-container {
  width: 100%;
  flex-grow: 2;
}

.list-item {
  text-decoration: none;
  @include variable(text-color, color, white);
  width: 100%;

  .list {
    padding: 20px 0;
    color: inherit;
    @include variable(link-background-color, background-color, tomato);
    cursor: pointer;
    list-style: none;
    text-transform: capitalize;
    margin: 10px 0;
    font-weight: 500;
    @include variable(link-background-color, border-color, tomato);
    border-width: 1px;
    border-radius: 5px;
    border-style: solid;
    width: inherit;

    &:hover {
      border: 1px solid;
      @include variable(link-background-color, border-color, tomato);
      @include variable(container-background-color, background-color, tomato);
      @include variable(link-background-color, color, tomato);
      cursor: pointer;
    }
  }
}

.expandable-list {
  padding-bottom: 0;
  border-radius: 5px;
}

.expanded-container {
  min-height: 100px;
  padding: 20px;
  background-color: $expandable-color-light;
  display: none;
  border-radius: 5px;

  &.open {
    display: block;
  }
}

.music-player-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;

  .player-image {
    min-width: 25%;
    max-width: 25%;
    border-radius: 10px;
    margin-right: 20px;
  }

  .play-button-icon {
    width: 10%;
    margin-right: 20px;
    svg {
      @include variable(link-background-color, color, black);
    }
  }
  .title-description {
    font-size: 20px;
    margin: 0;
    overflow: hidden;
    height: 30px;
    width: 70%;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: $expandable-text;
  }
}

.music-link-item {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid;
  color: $expandable-color-dark;
  border-color: lighten($expandable-color-dark, 50);

  &:hover {
    background: $expandable-color-dark;
    color: $expandable-color-light;
    .social-icon {
      color: $expandable-color-light;
    }
    cursor: pointer;
  }

  .platform-name {
    text-transform: capitalize;
    flex-grow: 2;
    text-align: left;
    color: inherit;
  }
  .social-icon {
    flex-grow: 1;
    margin-right: 20px;
    width: 40px;
    max-width: 40px;
    color: $expandable-color-dark;
  }

  .arrow {
    color: inherit;
  }
}

.right-arrow {
  transform: rotate(-90deg);
}
